* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: helvetica, sans-serif;
  width: 100%;
  height: 100vh;
  background-color: #f1f1f1;
  display: grid;
  grid-template-areas:
    'aside main empty'
    'footer footer footer';
  grid-template-columns: 1fr 4fr 1fr;
  grid-template-rows: 1fr 1fr;
}

aside {
  grid-area: aside;
  height: 96vh;
  display: flex;
  flex-direction: column;
  padding: 50px;
}

aside ul {
  padding-bottom: 10px;
}

aside a {
  text-decoration: none;
  font-size: 18px;
  color: #bbbbbb;
  letter-spacing: 0.02em;
}

aside a:hover {
  color: #4f4f4f;
}

aside .contact {
  font-size: 22px;
  color: #212121;
}

main {
  grid-area: main;
  display: flex;
  flex-direction: column;
  padding: 50px;
  line-height: 1.4em;
}

main a {
  text-decoration: none;
  font-size: 18px;
  color: #212121;
  padding-bottom: 2px;
}

main a:hover {
  color: #bbbbbb;
}

main p {
  font-size: 14px;
  color: #bbbbbb;
  padding-bottom: 10px;
}

footer {
  grid-area: footer;
  font-size: 14px;
  color: #a4a4a4;
}

.empty {
  height: 98vh;
  grid-area: empty;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: #bbbbbb;
  padding-right: 10px;
  padding-top: 10px;
  text-align: right;
  font-size: 28px;
}

.empty a {
  color: #212121;
  text-decoration: none;
}

.empty a:hover {
  color: #bbbbbb;
}
